@using Microsoft.AspNet.Identity

@{ 
    var administrador = User.IsInRole("Administrador");
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ginástica Laboral</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GinLab", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Meus Exercícios", "Index", "Home", new { area = "" }, null)</li>
                    @if(administrador)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administração <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Organizações", "Index", "Organizacao", new { area = "Administracao" }, null)</li>
                                <li>@Html.ActionLink("Usuários", "Index", "Usuario", new { area = "Administracao" }, null)</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Séries", "Index", "Serie", new { area = "Administracao" }, null)</li>
                                <li>@Html.ActionLink("Exercícios", "Index", "Exercícios", new { area = "Administracao" }, null)</li>
                            </ul>
                        </li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Olá, @User.Identity.GetUserName()! <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Meus Dados", "Index", "Usuario", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Sair", "LogOut", "Conta", new { area = "" }, null)</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GinLab</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
